@using QriousSharp
@page "/"

<PageTitle>Home</PageTitle>

 
<Qrious Id="123" @bind-QRious="qr"></Qrious>
<br />
<br />
<br />
<br />
<br />
<button @onclick="GenerateQR">Generate QR</button>

@code{
    private QRious qr = new QRious
    {
        Value = "https://droneanduavblocking.vercel.app/",
        Size = 200
    };
    void GenerateQR()
    {
        qr = new QRious();
        qr.Size = 500;
        qr.Value = "https://droneanduavblocking.vercel.app/";
     }
 
 }